html {
    background-color: #222;
}

#container {
    display: flex;
    align-items: center;
    padding: 10px;
}

#start-btn {
    border-radius: 50%;
    color: white;
    background-color: #555;
    border: 0;
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

#start-btn:hover {
    background-color: #777;
}

#start-btn:active {
    background-color: #666;
}

#time-txt {
    color: white;
}